h1 {
	color: var(--primary-color);
	font-size: 36px;
}

main {
	margin: 100px auto;
	max-width: 1200px;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
}

.photographer_section article {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.photographer_section article a {
	text-align: center;
}

.photographer_section h2 {
	color: var(--secondary-color);
	font-size: 36px;
	font-weight: 400;
}

.photographer_section h2,
.location,
.tagline,
.tariff {
	margin: 0;
}

.photographer_section img {
	height: 200px;
	width: 200px;
	border-radius: 500px;
	object-fit: cover;
}

.location {
	color: var(--primary-color);
	font-weight: 400;
}

.tagline {
	font-size: 13px;
	text-align: center;
}

.tariff {
	color: var(--gray-color);
	font-size: 12px;
}

@media (max-width: 800px) {
	header {
		flex-direction: column;
		padding: 20px 5% 0 5%;
	}

	.logo {
		margin: 0;
	}

	h1 {
		margin: 10px 0 0 0;
        text-align: center;
	}

	.photographer_section {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}

	.location {
		font-size: 24px;
	}

	.tagline,
	.tariff {
		font-size: 16px;
		margin-top: 5px;
	}
}

@media (max-width: 550px) {
	.photographer_section {
		grid-template-columns: 1fr;
		gap: 50px;
	}
}
