@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
	--primary-color: #901c1c;
	--secondary-color: #d3573c;
	--tertiary-color: #db8876;
	--gray-color: #757575;

	--font-normal: 400;
	--font-semi-bold: 500;
	--font-bold: 700;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.logo {
	height: 50px;
}

svg[role='button']:focus:not(.sort-button),
svg[role='button']:hover:not(.sort-button) {
	outline: none;
	scale: 1.5;
	cursor: pointer;
}
