@import url('photographer.css');

:root {
	--primary-color: #901c1c;
	--secondary-color: #d3573c;
	--tertiary-color: #db8876;
	--gray-color: #757575;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.logo {
	height: 50px;
	margin-left: 100px;
}
